<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a style="font-weight: bold">CSS</a></li>
      <li><a>HTML</a></li>
      <li><a>Javascript</a></li>
      <li><a>Ruby</a></li>
    </ul>
  </nav>
  <div class="logo">
    <img src="../assets/AA_Times_Logo.png" alt="aa_logo">
  </div>
  <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    <li>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <span>Today’s Paper</span>
    </li>
    <li>
        <i class="fa fa-video-camera" aria-hidden="true"></i>
        <span>Video</span></li>
    <li>
        <span>77°F</span>
    </li>
    <li>AAO <span style="color:green">+100%</span></li>
  </ul>
</header>
