

<button class="follow-toggle" data-user-id="<%= @user.id %>" data-initial-follow-state="<%= current_user.follows?(@user) %>"></button>
<br>

<!-- data-ship-id="324" data-weapons="laserI laserII" data-shields="72%"
 data-x="414354" data-y="85160" data-z="31940" -->
