<%=render('form', {cat:@cat, action: :new})%>
<!-- <h1>Create a cat!</h1>

<form action="" method="post">
  <label for="name">Name:</label>
  <input id="name" type="text" name="cat[name]" value ="Enter a cat here"/>
  <input type="radio" id="male"
   name="cat[sex]" value="M">
  <label for="male">Male</label>

  <br>
  <label for="sex">Sex:</label>
  <input type="radio" id="female"
   name="cat[sex]" value="F">
  <label for="female">Female</label>

  <br>

  <label for="color">Cat color:</label>
  <select name="cat[color]">
    <option disable selected>Please select a color</option>
    <option value="blue">Blue</option>
    <option value="green">Green</option>
    <option value="purple">Purple</option>
    <option value="tiffany-blue">Tiffany Blue(TM)</option>
  </select>

  <br>

  <label for="Birthdate">Cat Birthdate:</label>
  <input id="date" type="date" name="cat[birth_date]">

  <br>

  <label for="description">Description:</label>
  <textarea name="cat[description]" rows="8" cols="80"></textarea>

  <input type="submit" value="Create Cat!">

</form> -->
