<marquee direction="down" behavior="alternate" height="130" scrollamount="10"><h1><marquee behavior="alternate" scrollamount="10">CATS CATS CATS</h1> </marquee></marquee>

<%= render('cats', {cat:@cat, type: :show}) %>
