// Use the gear_dropdown.png screenshot as a style guide
#gear-dropdown {
  position: inherit;
  font-weight: bold;
  bottom: auto;
  top: auto;
  border: 1px solid black;
}

#gear-dropdown-btn {
  position: relative;

}
