<h1>CREATE A NEWEWWW USSEEEERRRASDAS (THIS IS YOUR brainwithoutsleep)</h1>
<form action="<%= users_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <label for="user_name">Username: </label>
  <input id="user_name" type="text" name="user[user_name]" value="">
  <label for="password">Password: </label>
  <input id="password" type="password" name="user[password]" value="">
  <input type="submit" value="CREATE USER">
</form>
