

.form {
  margin: 0 0 20px 0;
}

.form-thumb {
  float: left;
  position: relative;
}

.form-fieldset {
  padding: 19px;
  float: left;
  margin: 0 0 0 20px;
  width: 500px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input {
  margin: 0 0 20px 0;
}

.input > label {
  font-weight: 700;
  padding: 0 0 5px 0;
}

.input > input {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(100% - 22px);
  border-radius: 5px;
}
