<h2>Create a new band</h2>

<form action="<%=bands_url%>" method="post">
  <label for="name">Band Name  </label>
  <input id="name" type="text" name="band[name]" value="">
  <input type="submit" name="" value="SUBMIT">
</form>
